.test {
    //flex: 1 1 100%;
    //height: 100%;
    //display: flex;
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    .test-search {
        border: 1px solid blue;
        width: 100%;
        input {
            width: 100%;
            height: 2em;
            font-size: 1.2em;
            outline: white;
            border: none;
        }
    }
    .result-wrapper {
        display: flex;
        flex: 1 1 100%;
        .test-list {
            overflow: auto  ;
            background-color: red;
            flex: 1 1 100%;
        }

        .test-detail {
            flex: 1 1 100%;
        }
    }
}
