.test {
    //flex: 1 1 100%;
    //height: 100%;
    //display: flex;
    //border: 1px solid red;
    display: flex;
    .test-search {
        flex: 1 1 100%;
    }
    .test-list {
        flex: 1 1 100%;
    }
    .test-detail {
        flex: 1 1 100%;
    }
}
