.layout-ctn {
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 50px minmax(0, 1fr) 50px;
    grid-template-columns: 100%;

    header {
        display: flex;
        height: 30px;
        color: white;
        background-color: rgba(white, 0.12);
        justify-content: space-between;

        nav {
            li {
                list-style: none;
                margin-right: 0.5em;
                display: inline-block;

                a {
                    color: white;
                }
            }
        }
    }

    main {
        display: flex;
        div {
            flex: 1 1 100%;
        }
    }

    footer {
        border-top: solid 1px rgba(white, 0.2);
        height: 30px;
        color: white;
        text-align: center;
    }
}
