@import '~modern-normalize/modern-normalize.css';
@import './_variables.scss';
@import './_custom-form.scss';
@import './_custom-table.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    font-family: $body-default-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $body-default-color;
    margin: 0;
    padding: 0;
}
